
streamlit==1.37.1
pandas==2.2.2
ofxparse==0.21
pdfplumber==0.11.4
openpyxl==3.1.5
requests==2.32.3
scikit-learn==1.5.1
gitpython==3.1.45
pydeck==0.9.1
altair==5.5.0
rich==13.9.4
beautifulsoup4==4.14.2
cryptography==46.0.2
pdfminer.six==20231228
